In [3]:
import os
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.manifold import TSNE
from sklearn.model_selection import train_test_split, GridSearchCV, cross_val_score, KFold, RepeatedKFold

In [1]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [5]:
train = pd.read_csv('../bigquery-geotab-intersection-congestion/train.csv')
test = pd.read_csv('../bigquery-geotab-intersection-congestion/test.csv')
train.head()

,RowId,IntersectionId,Latitude,Longitude,EntryStreetName,ExitStreetName,EntryHeading,ExitHeading,Hour,Weekend,...,TimeFromFirstStop_p40,TimeFromFirstStop_p50,TimeFromFirstStop_p60,TimeFromFirstStop_p80,DistanceToFirstStop_p20,DistanceToFirstStop_p40,DistanceToFirstStop_p50,DistanceToFirstStop_p60,DistanceToFirstStop_p80,City
0,1921357,0,33.791659,-84.430032,Marietta Boulevard Northwest,Marietta Boulevard Northwest,NW,NW,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Atlanta
1,1921358,0,33.791659,-84.430032,Marietta Boulevard Northwest,Marietta Boulevard Northwest,SE,SE,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Atlanta
2,1921359,0,33.791659,-84.430032,Marietta Boulevard Northwest,Marietta Boulevard Northwest,NW,NW,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Atlanta
3,1921360,0,33.791659,-84.430032,Marietta Boulevard Northwest,Marietta Boulevard Northwest,SE,SE,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Atlanta
4,1921361,0,33.791659,-84.430032,Marietta Boulevard Northwest,Marietta Boulevard Northwest,NW,NW,2,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Atlanta

View test and train shape

In [10]:
print("train dataset :",train.shape)
print("test dataset :", test.shape)

train dataset : (856387, 28)
test dataset : (1921357, 13)

In [11]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 856387 entries, 0 to 856386
Data columns (total 28 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   RowId                    856387 non-null  int64
 1   IntersectionId           856387 non-null  int64
 2   Latitude                 856387 non-null  float64
 3   Longitude                856387 non-null  float64
 4   EntryStreetName          848239 non-null  object
 5   ExitStreetName           850100 non-null  object
 6   EntryHeading             856387 non-null  object
 7   ExitHeading              856387 non-null  object
 8   Hour                     856387 non-null  int64
 9   Weekend                  856387 non-null  int64
 10  Month                    856387 non-null  int64
 11  Path                     856387 non-null  object
 12  TotalTimeStopped_p20     856387 non-null  float64
 13  TotalTimeStopped_p40     856387 non-null  float64
 14  TotalTimeStopped_p50     856387 non-null  float64
 15  TotalTimeStopped_p60     856387 non-null  float64
 16  TotalTimeStopped_p80     856387 non-null  float64
 17  TimeFromFirstStop_p20    856387 non-null  float64
 18  TimeFromFirstStop_p40    856387 non-null  float64
 19  TimeFromFirstStop_p50    856387 non-null  float64
 20  TimeFromFirstStop_p60    856387 non-null  float64
 21  TimeFromFirstStop_p80    856387 non-null  float64
 22  DistanceToFirstStop_p20  856387 non-null  float64
 23  DistanceToFirstStop_p40  856387 non-null  float64
 24  DistanceToFirstStop_p50  856387 non-null  float64
 25  DistanceToFirstStop_p60  856387 non-null  float64
 26  DistanceToFirstStop_p80  856387 non-null  float64
 27  City                     856387 non-null  object
dtypes: float64(17), int64(5), object(6)
memory usage: 182.9+ MB

In [13]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1921357 entries, 0 to 1921356
Data columns (total 13 columns):
 #   Column           Dtype
---  ------           -----
 0   RowId            int64
 1   IntersectionId   int64
 2   Latitude         float64
 3   Longitude        float64
 4   EntryStreetName  object
 5   ExitStreetName   object
 6   EntryHeading     object
 7   ExitHeading      object
 8   Hour             int64
 9   Weekend          int64
 10  Month            int64
 11  Path             object
 12  City             object
dtypes: float64(2), int64(5), object(6)
memory usage: 190.6+ MB

### Lets see common Cities between our train and test set

In [15]:
print("Cities in Train dataset:", train['City'].unique().tolist())
print("Cities in Test dataset:", test['City'].unique().tolist())

Cities in Train dataset: ['Atlanta', 'Boston', 'Chicago', 'Philadelphia']
Cities in Test dataset: ['Atlanta', 'Boston', 'Chicago', 'Philadelphia']

In [17]:
city = train.groupby('City').size()
city

City
Atlanta         156484
Boston          178617
Chicago         131049
Philadelphia    390237
dtype: int64

In [19]:
city1 = test.groupby('City').size()
city1

City
Atlanta         341852
Boston          409275
Chicago         298129
Philadelphia    872101
dtype: int64